.bttn{
    color: #F5F3F4;

    font-size: 16px;
    padding: 8px;

    border-radius: 8px;

    border-color: #660708;
    background-color: #E5383B;

    border-bottom-style:solid;
}

.bttn:hover{
    background-color: #BA181B;
}