/* Seccion 1 */
.section-1 {
    background-color: #E5383B;
}

.title_section {
    padding: 2% 0;
    color: #FFFFFF;
    font-size: 35px;
    text-align: center;
}

/* Caja de los productos */

.add-products {
    background-color: #D3D3D3;
}

.bttn.add-products {
    margin-left: 4%;
    margin-bottom: 10px;
    background-color: #ff7900;
    font-weight: 600;
    border-style: none;
    border: solid #ff6d00;
}

.bttn.add-products:hover {
    background-color: #ff9100;
}

.bttn.add-products:active {
    background-color: #ff9e00;
}


.box.products {
    margin: auto;
    padding: 20px 0;
    background-color: #D3D3D3;
    width: 100%;
    display: flex;
    /* Permite que los elementos se ajusten en múltiples filas */
    flex-wrap: wrap-reverse;
}

.box.products div {
    /* Ajusta el ancho del producto (25% del contenedor menos el espacio entre productos) */
    width: calc(25% - 40px);
    margin-left: 20px;
    margin-bottom: 20px;

    /* Asegura que el padding y el border no afecten el ancho total */
    box-sizing: border-box;
}

.buttons-section {
    margin: 10px 0;
    display: flex;
}

.form.modify {
    display: none;
    background-color: #ba181b;
}

.bttn.modify {
    background-color: #8d99ae;
    font-weight: 600;
    border-style: none;
    border: solid #2b2d42;
}

.bttn.modify:hover {
    background-color: #ced4da;
    color: #2b2d42;
}

.bttn.modify:active {
    background-color: #edf2f4;
    color: #2b2d42;
}

.bttn.delete {
    background-color: #a4161a;
    font-weight: 600;
    border-style: none;
    border: solid #660708;
}

.bttn.delete:hover {
    background-color: #ba181b;
    color: #2b2d42;
}

.bttn.delete:active {
    background-color: #e5383b;
    color: #2b2d42;
}

.li_section-1 {
    list-style: none;
}

.img_section-1 {
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 200px;

    background-color: #FFFFFF;
}

.paragraph_section-1 {
    font-size: 18px;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    background-color: #FFFFFF;
    width: 300px;
    height: 130px;
}

/* --------- AGREGAR PRODUCTOS ----------- */

.caja {
    background-color: #D3D3D3;
    width: 100%;
}

.create_products_section {
    padding: 2% 0;
    margin: 0 0 0 100px;
}

.product-form {
    font-size: 22px;
}

.product-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.product-form input[type="text"],
.product-form input[type="number"],
.product-form input[type="file"],
.product-form textarea {
    width: 25%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.product-form input[type="text"]:focus,
.product-form input[type="number"]:focus,
.product-form input[type="file"]:focus,
.product-form textarea:focus {
    border-color: #E5383B;
    outline: none;
}

.bttn {
    background-color: rgb(185, 141, 27);
    border-color: rgb(155, 118, 26);
    padding: 6px;
    margin: 2% 0 0 8%;
}

.bttn:hover {
    background-color: rgb(238, 188, 63);
}