.contenedor_datos{
    padding: 20px 40px;
}

.img_user{
    border-radius: 50px;
    width: 128px;
    height: 128px;
    object-fit: cover;
}

.panel-configuracion-usuario {
    display: flex;
    justify-content:space-evenly;
}

.panel-configuracion-usuario .datos-personales {
    padding: 15px;
    background-color: burlywood;
    width: 500px;
    border-radius: 15px;
}

.panel-configuracion-usuario .datos-personales label {
    width: 100px;
}

.panel-configuracion-usuario .datos-personales input {
    width: 250px;
}

.panel-configuracion-usuario .contraseña {
    padding: 15px;
    background-color: burlywood;
    width: 500px;
    border-radius: 15px;
}

.panel-configuracion-usuario .contraseña label {
    width: 180px;
}