/* .main.section-1 {} */

body {
    overflow-x: hidden;
}

/* Seccion 1 */
/* .section-1 h1 {
    background-color: #e3b53c;
} */

/* contentido seccion 2 */

.fondo {
    background-repeat: no-repeat;
    background-size: cover;
}

.productos-menu .contenido {
    border: solid 5px #fff;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.productos-menu .contenido img {
    /* Ajustes */
    object-fit: cover;
    /* Estilos */
    border-radius: 18px 18px 0 0;
    /* Tamaño */
    width: 100%;
    height: 280px;

}

/* Sub contenido de los productos */

.productos-menu .sub-contenido {
    /* Ajustes */
    box-sizing: border-box;
    /* Estilos */
    border-top: solid 5px #ffffff;
    border-radius: 0 0 13px 13px;
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.productos-menu .sub-contenido h3 {
    width: 100%;
    padding: 10px 0;
    height: 2em; /* Altura fija para el título, ajusta según necesites */
    overflow: hidden;
}

.productos-menu .descripcion {
    overflow-wrap: break-word;
    flex-grow: 1; /* Permite que el párrafo crezca para llenar el espacio restante */
    overflow: hidden;

}

.productos-menu .bttn {
    margin-bottom: 10px;
    width: 100%;
}