/* .main.section-1 {} */

body {
    overflow-x: hidden;
}

/* Seccion 1 */
/* .section-1 h1 {
    background-color: #e3b53c;
} */

/* contentido seccion 2 */

.fondo {
    background-color: #f19066;
    background-repeat: no-repeat;
    background-size: cover;
}

.productos-menu .contenido {
    border: solid 2px #3d0d0d;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan */
    justify-content: center;
    width: 400px;
    transform: scale(0.8);
}

.productos-menu .contenido img {
    /* Ajustes */
    object-fit: cover;
    /* Estilos */
    border-radius: 15px 15px 0 0;
    /* Tamaño */
    width: 100%;
    height: 280px;
}

/* Sub contenido de los productos */

.productos-menu .sub-contenido {
    /* Ajustes */
    box-sizing: border-box;
    /* Estilos */
    border-top: solid 5px #3d0d0d;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(to top, #d6c287, 20%, #e9d8a6);
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* Permite que el contenido crezca */
}

.productos-menu .sub-contenido h3 {
    width: 100%;
    overflow-wrap: break-word;
    padding: 10px 0;
}

.productos-menu .p {
    overflow-wrap: break-word;
}

.productos-menu .bttn {
    margin-bottom: 10px;
    width: 100%;
}