{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/ubicacion/ubicacion.css' %}">
{% endblock %}

{% block title %}
    Encuentranos
{% endblock %}

{% block content %}
    <div class="content main">
        <section>
            <h2>Visita nuestros puntos</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.832339561029!2d-74.07153092410259!3d4.623983895350751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f852d9563e2f7%3A0x506b1cbaa0a719c1!2sInter%20-%20Escuela%20Internacional%20de%20Estudios%20Superiores!5e0!3m2!1ses-419!2sco!4v1726708521707!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </div>
{% endblock %}