.content_main-section-1{
    padding: 120px 0;
    background-color: blur(20px);
    background-position: center;
    background-size: cover;
    background-image: url(https://cdn.colombia.com/sdi/2020/06/16/colombia-fortuna-dos-mares-838921.jpg);
}

.content_main-section-1 h1{
    color: #F5F3F4;
    border-color: #E5383B;
    border: 25px;
    text-align: center;
    font-size: 80px;

}

.main-section-2{
    padding: 0 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px;
    max-width: 100%;
    background-image: url(../../resources/img/contenido/textura_madera.jpg); /* -/- se usa para dividir los atributos del background*/
    background-size: cover;
    background-position: center -25px;
} 

.image_main-section-2{
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    transition: width 120ms ease-out;
    width: 400px;
    max-width: 100%;
}

.image_main-section-2:hover{
    transition: width 120ms ease-in;
    width: 450px;
    max-width: 100%;
}

/* .image_main-section-2::selection{
    position: absolute;
    width: 600px;
    justify-content: center;
} */

.action_content_main-section-2{
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #F5F3F4;
    box-shadow: 0 0 10px black;
    text-align: center;
}

.subtitle_main-section-2{
    border-radius: 5px 5px 0 0;
    background-color: #E5383B;
    margin: 5% 0 0 0;
    font-size: 25px;
    text-align: center;
}

.paragraph_main-section-2{
    margin: 0 0 5% 0;
    font-weight: bold;
    text-align: center;
}

.bttn{
    margin-bottom: 20px;
}


/* 
img [src^="picada"]{
    width: 600px;
} */

div:empty{
    background-color: #a0185c;
    padding: 200px;
}