/* ---------- Pie de pagina ----------*/

.pie-pagina {
    background-color: #161A1D;
}

.contenido-pie {
    flex-grow: 1;
    align-items: center;
    position: relative;
    padding: 80px 10%;
}

.redes-sociales {
    display: flex;
    gap: 20px;
}

.iconos-redes {
    width: 48px;
    background-color: #FFFFFF;
    border-radius: 10px;
    transition: transform 100ms ease-in;
}

.iconos-redes:hover {
    transform: scale(1.1);
}

.link-pie {
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    overflow-wrap: break-word;
    transition: color 80ms;
}

.link-pie:hover {
    color: #660708;
}

.derechos-reservados {
    position: absolute;
    top: 80%;
    color: #FFFFFF;
}