{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css\usuarios\usuarios.css' %}">
{% endblock %}

{% block title %}
Usuarios
{% endblock %}

{% block content %}

{% include "dashboard.html" %}

<div class="contenido-usuarios">
    <div class="encabezado">
        <h2 class="display-6 fw-bold">Gestion de usuarios</h2>
    </div>
    <div class="seccion-1">
        <button id="boton-ver-usuarios">
            <img src="https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/iconos%2Ficons-dashboard%2Fcontenido%2Fusuarios.svg?alt=media&token=bbbaf051-b96e-43d2-9c4f-ea00c9e85925"
                alt="icono usuarios">
            Empleados y Administradores</button>
        <button id="boton-registro-empleado">
            <img src="https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/iconos%2Ficons-dashboard%2Fcontenido%2Fusuarios_mas.svg?alt=media&token=86b3414c-5716-4e79-b5a8-b40cf48d12c5"
                alt="Icono usuario con el simbolo mas">
            Registrar Empleados</button>
        <button id="boton-registro-administrador">
            <img src="https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/iconos%2Ficons-dashboard%2Fcontenido%2Fusuarios_mas.svg?alt=media&token=86b3414c-5716-4e79-b5a8-b40cf48d12c5"
                alt="Icono usuario con el simbolo mas">
            Registrar Administradores</button>
    </div>
    <div id="ver-usuarios" class="seccion-2">
        <div class="lista_empleados row">
            <h4>Empleados</h4>
            {% for empleado in lista_empleados %}
            <div class="col-4 my-4">
                <div class="contenido-empleados">
                    <img src="{{ empleado.imagen }}" alt="{{ empleado.nombre }}">
                    <div class="contenido">
                        <h3>{{ empleado.nombre }}</h3>
                        <h3>{{ empleado.apellido }}</h3>
                        <p><strong>correo:</strong> <br> {{ empleado.correo }}</p>
                        <p> <strong>Cargo:</strong> <br> {{ empleado.cargo }}</p>
                        <form method="post" action="">
                            {% csrf_token %}
                            <button class="bttn delete" type="submit"
                                onclick="return confirm('¿Estás seguro de que deseas eliminar al empleado?');">
                                Eliminar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="lista_administradores row">
            <h4>Administradores</h4>
            {% for admin in lista_administradores %}
            <div class="col-4 my-4">
                <div class="contenido-administradores">
                    <img src="{{ admin.imagen }}" alt="{{ admin.nombre }}">
                    <div class="contenido">
                        <h3>{{ admin.nombre }}</h3>
                        <h3>{{ admin.apellido }}</h3>
                        <p> <strong>correo:</strong> <br> {{ admin.correo }}</p>
                        <p> <strong>Cargo:</strong> <br> {{ admin.rol }}</p>
                        <form method="post" action=""></form>
                            {% csrf_token %}
                            <button class="bttn delete" type="submit"
                                onclick="return confirm('¿Estás seguro de que deseas eliminar al empleado?');">
                                Eliminar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="registro-empleado" class="registro-usuario">
        <form method="post" action="{% url "registro_empleado" %}">
            <h2>Registro de empleados</h2>
            {% csrf_token %}
            {{ form_empleados.as_p }}
            <button class="bttn content-main" type="submit">Registrar Nuevo Empleado</button>
        </form>
    </div>
    <div id="registro-administrador" class="registro-usuario">
        <form method="post" action="{% url "registro_administrador" %}">
            <h2>Registro de administradores</h2>
            {% csrf_token %}
            {{ form_administradores.as_p }}
            <button class="bttn content-main" type="submit">Registrar Nuevo Empleado</button>
        </form>
    </div>
</div>
<script src="{% static "js\usuarios_dashboard.js" %}"></script>
{% endblock %}