{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css\usuarios\usuarios.css' %}">
{% endblock %}

{% block title %}
Usuarios
{% endblock %}

{% block content %}

{% include "dashboard.html" %}

<div class="contenido-usuarios">
    <div class="encabezado">
        <h2 class="display-6 fw-bold">Gestion de usuarios</h2>
    </div>
    <div class="seccion-1">
        <button id="boton-ver-usuarios">
            <img
                src="https://firebasestorage.googleapis.com/v0/b/delizone-1a227.appspot.com/o/DeliZone%2FDashBoard%2Fusers-svgrepo-com.svg?alt=media&token=fb18e9a7-69e2-4092-ad7f-55ed2d07f676"
                alt="icono usuarios">
            Empleados y Administradores</button>
        <button id="boton-registro-empleado">
            <img
                src="https://firebasestorage.googleapis.com/v0/b/delizone-1a227.appspot.com/o/DeliZone%2FDashBoard%2Fuser-add-svgrepo-com.svg?alt=media&token=1c5bb55b-2267-438f-a03d-76351f2ea9fc"
                alt="Icono usuario con el simbolo mas">
            Registrar Empleados</button>
        <button id="boton-registro-administrador">
            <img
                src="https://firebasestorage.googleapis.com/v0/b/delizone-1a227.appspot.com/o/DeliZone%2FDashBoard%2Fuser-add-svgrepo-com.svg?alt=media&token=1c5bb55b-2267-438f-a03d-76351f2ea9fc"
                alt="Icono usuario con el simbolo mas">
            Registrar Administradores</button>
    </div>
    <div id="ver-usuarios" class="seccion-2">
        <div class="lista_empleados row">
            <h4>Empleados</h4>
            {% for empleado in lista_empleados %}
            <div class="col-3 my-3">
                <div class="contenido-empleados">
                    <img src="{{ empleado.imagen }}" alt="{{ empleado.nombre }}">
                    <div class="contenido">
                        <div class="info-principal">
                            <p>
                                <strong>Nombre:</strong>
                                {{ empleado.nombres }} {{empleado.apellidos}}
                                <br>
                                <strong>Correo:</strong>
                                {{ empleado.correo }}
                                <br>
                                <strong>Cargo:</strong>
                                {{ empleado.cargo }}
                            </p>
                        </div>
                        <form method="post" action="{% url 'eliminar_empleado' empleado.id %}">
                            {% csrf_token %}
                            <button class="bttn delete" type="submit"
                                onclick="return confirm('¿Estás seguro de que deseas eliminar al empleado? Tenga en cuenta que esta accion es irreversible');">
                                Eliminar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="lista_administradores row">
            <h4>Administradores</h4>
            {% for admin in lista_administradores %}
                <div class="col-3 my-3">
                    <div class="contenido-administradores">
                        <img src="{{ admin.imagen }}" alt="{{ admin.nombre }}">
                        <div class="contenido">
                            <div class="info-principal">
                                <p>
                                    <strong>Nombre:</strong>
                                    {{ admin.nombres }} {{admin.apellidos}}
                                    <br>
                                    <strong>Correo:</strong>
                                    {{ admin.correo }}
                                    <br>
                                    <strong>Cargo:</strong>
                                    {{ admin.rol }}
                                </p>
                            </div>
                            <form method="post" action="">
                                {% csrf_token %}
                                <button class="bttn delete" type="submit"
                                    onclick="return confirm('¿Estás seguro de que deseas eliminar al administrador?');">
                                    Eliminar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="registro-empleado" class="registro-usuario">
        <form method="post" action="{% url "registro_empleado" %}" enctype="multipart/form-data">
            <h2>Registro de empleados</h2>
            {% csrf_token %}
            {{ form_empleados.as_p }}
            <button class="bttn content-main" type="submit">Registrar Nuevo Empleado</button>
        </form>
    </div>
    <div id="registro-administrador" class="registro-usuario">
        <form method="post" action="{% url "registro_administrador" %}" enctype="multipart/form-data">
            <h2>Registro de administradores</h2>
            {% csrf_token %}
            {{ form_administradores.as_p }}
            <button class="bttn content-main" type="submit">Registrar Nuevo Empleado</button>
        </form>
    </div>
</div>
<script src="{% static "js\usuarios_dashboard.js" %}"></script>
{% endblock %}