<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}

    <link rel="icon"
        href="https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/iconos%2Flogo%2Flogo.png?alt=media&token=f996593f-3a33-4a0e-b8ae-ab2267d8b3a9"
        style="width: 64px; height: 64px;" type="image/png">
    <link rel="stylesheet" href="{% static 'css/principal/ajustes.css' %}">
    <link rel="stylesheet" href="{% static 'css/principal/buttoms.css' %}">
    <link rel="stylesheet" href="{% static 'css/principal/footer.css' %}">

    {% block extra_css %}{% endblock %}

    <title>
        {% block title %}{% endblock %}
    </title>

</head>

<body>
    <header>
        <nav>
            {% block nav %}{% endblock %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="pie-pagina container-fluid p-5">
            <div class="contenido-pie row">
                <div class="redes-sociales col">
                    <a href="#"><img class="iconos-redes facebook"
                            src="https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/iconos%2Ffooter%2Ffacebook.svg?alt=media&token=96451d83-c793-4a10-a232-980affbce97d"
                            alt=""></a>
                    <a href="#"><img class="iconos-redes instagram"
                            src="https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/iconos%2Ffooter%2Fgoogle.svg?alt=media&token=f0773899-82ab-4082-b37a-7e6a1dfd2414"
                            alt=""></a>
                    <a href="#"><img class="iconos-redes google"
                            src="https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/iconos%2Ffooter%2Finstagram.svg?alt=media&token=77235fa5-dc40-44bd-998b-b811e8bb38c4"
                            alt=""></a>
                </div>
                <div class="secciones-pagina col">
                    <a class="link-pie" href="{% url 'ubicacion' %}">encuentranos</a>
                    <a class="link-pie" href="{% url 'contacto' %}">contactenos</a>
                </div>
                <div class="politicas col">
                    <a class="link-pie" href="#">terminos y condiciones</a>
                </div>
            <div class="row">
                <div class="derechos-reservados col">
                    <p>©️todos los derechos reservados</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static "js/carrito.js" %}"></script>
</body>

</html>