<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}

    <link rel="icon"
        href="https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/iconos%2Flogo%2Flogo.png?alt=media&token=f996593f-3a33-4a0e-b8ae-ab2267d8b3a9"
        style="width: 64px; height: 64px;" type="image/png">
    <link rel="stylesheet" href="{% static 'css/principal/ajustes.css' %}">
    <link rel="stylesheet" href="{% static 'css/principal/buttoms.css' %}">
    <link rel="stylesheet" href="{% static 'css/principal/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/principal/navbar.css' %}">

    {% block extra_css %}{% endblock %}

    <title>
        {% block title %}{% endblock %}
    </title>

</head>

<body>
    <header>

        {% if request.path != '/login/' and request.path != '/login/register/' and request.path != '/dashboard/' and request.path != '/productos/' and request.path != '/productos/agregar_productos/' and request.path != '/carrito/' %}
        <nav>
            <!-- Submenú siempre visible -->
            <div class="sub-navbar">
                <ul class="ul sub-navbar">
                    <li><a class="link sub-navbar" href="{% url 'ubicacion' %}">Encuéntranos</a></li>
                    <li><a class="link sub-navbar" href="{% url 'contacto' %}">Contáctenos</a></li>
                </ul>
            </div>
            <!-- Menú principal -->
            <div class="container-fluid navbar navbar-expand-md sticky-top px-sm-3 px-md-5">
                <!-- Logo del sitio -->
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/iconos%2Flogo%2Flogo.png?alt=media&token=f996593f-3a33-4a0e-b8ae-ab2267d8b3a9" alt="icono Logo">
                </a>
                <!-- Íconos de usuario y carrito en móviles -->
                <ul class="navbar-nav d-md-none m-auto">
                    <!-- Ícono de usuario -->
                    <li class="nav-item">
                        <a class="nav-link icon" href="{% url 'perfil_user' %}">
                            <img class="usuario" src="https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/iconos%2Fnavbar%2Fuser.svg?alt=media&token=46662fea-4c7e-45e8-8827-0223d51507c4" alt="icono de usuario">
                        </a>
                    </li>
                    <!-- Carrito con contador -->
                    <li class="nav-item">
                        <div class="nav-link icon">
                            <div id="contador-1" class="contador-productos">0</div>
                            <img src="https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/iconos%2Fnavbar%2Fcar_shopping.svg?alt=media&token=a8470ebb-a15d-4282-b57f-2c113b0a78ef" alt="Carrito de compras">
                        </div>
                    </li>
                </ul>
                <!-- Botón de hamburguesa para dispositivos móviles -->
                <button class="navbar-toggler ms-auto navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Contenido colapsable del menú -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-auto">
                        <li class="nav-item">
                            <a class="nav-link px-3 py-2 my-1" href="{% url 'home' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3 py-2 my-1" href="{% url 'menu' %}">Menú</a>
                        </li>
                    </ul>
                    <!-- Íconos de usuario y carrito en dispositivos grandes -->
                    <ul class="navbar-nav d-none d-sm-flex gap-4">
                        <!-- Ícono de usuario -->
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link icon" href="{% url 'perfil_user' %}">
                                <img class="usuario" src="https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/iconos%2Fnavbar%2Fuser.svg?alt=media&token=46662fea-4c7e-45e8-8827-0223d51507c4" alt="icono de usuario">
                            </a>
                        </li>
                        <!-- Carrito con contador -->
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link icon" href="#">
                                <div id="contador-2" class="contador-productos">0</div>
                                <img src="https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/iconos%2Fnavbar%2Fcar_shopping.svg?alt=media&token=a8470ebb-a15d-4282-b57f-2c113b0a78ef" alt="Carrito de compras">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endif %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% if request.path != '/dashboard/' and request.path != '/productos/' and request.path != '/productos/agregar_productos/' and request.path != '/carrito/' %}
    <footer>
        <div class="pie-pagina container-fluid p-5">
            <div class="contenido-pie row">
                <div class="redes-sociales col">
                    <a href="#"><img class="iconos-redes facebook"
                            src="https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/iconos%2Ffooter%2Ffacebook.svg?alt=media&token=96451d83-c793-4a10-a232-980affbce97d"
                            alt=""></a>
                    <a href="#"><img class="iconos-redes instagram"
                            src="https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/iconos%2Ffooter%2Fgoogle.svg?alt=media&token=f0773899-82ab-4082-b37a-7e6a1dfd2414"
                            alt=""></a>
                    <a href="#"><img class="iconos-redes google"
                            src="https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/iconos%2Ffooter%2Finstagram.svg?alt=media&token=77235fa5-dc40-44bd-998b-b811e8bb38c4"
                            alt=""></a>
                </div>
                <div class="secciones-pagina col">
                    <a class="link-pie" href="{% url 'ubicacion' %}">encuentranos</a>
                    <a class="link-pie" href="{% url 'contacto' %}">contactenos</a>
                </div>
                <div class="politicas col">
                    <a class="link-pie" href="#">terminos y condiciones</a>
                </div>
            <div class="row">
                <div class="derechos-reservados col">
                    <p>©️todos los derechos reservados</p>
                </div>
            </div>
        </div>
    </footer>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static "js/carrito.js" %}"></script>
</body>

</html>