{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/principal/home.css' %}">
{% endblock %}


{% block title %}
    Inicio
{% endblock %}


{% block content %}
    <section class="main-section-1">
        <div class="content_main-section-1">
            <h1>Deliciosas comidas del mar</h1>
        </div>
    </section>
    <section class="main-section-2">
        <div class="content_main-section-2">
            <img class="image_main-section-2" src="{{ producto1.imagen_url }}" alt="{{ producto1.nombre }}">
            <div class="action_content_main-section-2">
                <h3 class="subtitle_main-section-2">{{ producto1.nombre }}</h3>
                <p class="paragraph_main-section-2">{{ producto1.descripcion }} <br><br> Precio: {{ producto1.precio_formateado }}</p>
                <div class="button-main-section-2">
                    <button class="bttn incrementar" type="button">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="content_main-section-2">
            <img class="image_main-section-2" src="{{ producto2.imagen_url }}" alt="{{ producto2.nombre }}">
            <div class="action_content_main-section-2">
                <h3 class="subtitle_main-section-2">{{ producto2.nombre }}</h3>
                <p class="paragraph_main-section-2">{{ producto2.descripcion }} <br><br> Precio: {{ producto2.precio_formateado }}</p>
                <div class="button-main-section-2">
                    <button class="bttn incrementar" type="button">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="content_main-section-2">
            <img class="image_main-section-2" src="{{ producto3.imagen_url }}" alt="sierra-frita">
            <div class="action_content_main-section-2">
                <h3 class="subtitle_main-section-2">{{ producto3.nombre }}</h3>
                <p class="paragraph_main-section-2">{{ producto3.descripcion }}<br><br> Precio: {{ producto3.precio_formateado }}</p>
                <p>{{ contador }}</p>
                <div class="button-main-section-2">
                    <button class="bttn incrementar">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}