/* --Carrito de compras--*/
.contador-productos {
    position: fixed;
    margin-left: 20px;
    background-color: #A4161A;
    border-radius: 20px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}



#btnCarrito {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.modal {
    display: none;
    margin-top: 4%;
    box-sizing: border-box;
    position: absolute;
    background-color: #FFFFFF;
    border: solid 5px #A4161A;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    text-align: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

}

.title.carrito {
    margin-top: 15px;
}

.close {
    margin-right: 10px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

}