/* .main.section-1 {} */

body {
    overflow-x: hidden;
}

.content.section-1 {
    text-align: center;
}

/* content section 2 */
.content.section-2 {
    box-sizing: border-box;
}

.content.section-2 img {
    box-sizing: border-box;
    /* Ajuste del tamaño de imagenes en contenedor */
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 400px;
    height: 200px;
}

.sub-content.section-2 {
    box-sizing: border-box;
    width: 400px;
    height: 260px;
    border-radius: 0 0 10px 10px;
    background-color: #e9d8a6;
}

.sub-content.section-2 .text {
    height: 50px;
}

.button.section-2 {
    justify-content: center;
}