.content_main-section-1 {
    padding: 40px 0;
    background-color: blur(20px);
    background-position: center;
    background-size: cover;
    background-color: #E5383B;
}

.content_main-section-1 h1 {
    color: #F5F3F4;
    border-color: #E5383B;
    border: 25px;
    text-align: center;
    font-size: 80px;

}

.main-section-2 {
    padding: 0 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px;
    max-width: 100%;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/contenido%2Ftextura_madera.jpg?alt=media&token=277bc3e4-2b3e-490d-bdd9-bb7adeaec307);
    /* -/- se usa para dividir los atributos del background*/
    background-size: cover;
    background-position: center -25px;
}

.content_main-section-2 {
    justify-content: center;
    width: 400px;

}

.image_main-section-2 {
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    transition: width 120ms ease-out;
    width: 400px;
    height: 200px;
}

.action_content_main-section-2 {
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #F5F3F4;
    box-shadow: 0 0 10px black;
    text-align: center;
}

.subtitle_main-section-2 {
    border-radius: 5px 5px 0 0;
    background-color: #E5383B;
    margin: 5% 0 0 0;
    font-size: 25px;
    text-align: center;
}

.paragraph_main-section-2 {
    margin: 5%;
    font-weight: bold;
    text-align: left;
    width: 100%;
    height: 80px;
}

.bttn {
    margin-bottom: 20px;
}


.box {
    display: inline-block;
    width: 400px;
    margin: 20px;
    background-color: #F5F3F4;
    border: 4px solid #E5383B;
    padding: 6px;
    border-radius: 10px;
}