body {
    margin-top: 119px;
}

.sticky-top {
    position: fixed;
    width: 100%;
}

.navbar.sticky-top {
    top: 24px;
    /* La barra principal se coloca debajo de la sub-barra de navegación */
    background-color: #fff;
    /* Color de fondo de la barra de navegación principal */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra debajo de la barra de navegación principal */
    padding: 10px;
    /* Espacio entre la barra de navegación principal y el contenido */
    z-index: 1030;
    /* Reducimos el z-index para que la barra principal esté debajo de la sub-barra */
}

/* Submenú: Siempre visible en todas las pantallas */
.sub-navbar {
    top: 0;
    background-color: #161A1D;
    padding: 0 10px;
}

.ul.sub-navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.link.sub-navbar {
    color: #D3D3D3;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.link.sub-navbar:hover {
    color: #A4161A;
    font-weight: bold;
}

/* Estilos del menú principal */

.logo {
    width: 64px;
}

.navbar-nav .nav-link {
    font-size: 20px;
    font-weight: 500;
    color: #161A1D;
    border-radius: 5px;
}

.navbar-nav .nav-link:hover {
    background-color: #660709;
    color: white;
    border-radius: 5px;
}

.navbar-nav .nav-link.icon {
    background: none;
}

.navbar-nav .nav-link.icon:hover {
    background: none;
}

.navbar-nav.d-md-none {
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}



/* Ícono de carrito */

.carrito {
    position: relative;
}

.contador-productos {
    background-color: #A4161A;
    border-radius: 20px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    margin-left: 18px;
}

#btnCarrito {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}