*{
    margin: 0;
    font-family:sans-serif;
}
/* ---------- Barra de navegacion ----------*/

/* --Sub Barra de navegacion-- */

nav{
    position: fixed;
    width: 100%;
    box-shadow: 0 0 5px #161A1D;
}

.sub_navbar{
    background: #161A1D;;
    padding: 10px 40px 10px 0;
}

.ul_sub-navbar{
    display: flex; /*Flex hace que todos los elementos dentro del contenedor se coloquen uno al lado del otro*/
    justify-content: right; /*justify-content posiciona todos los elementos dentro del padre*/
    gap: 20px; /*Gap da un espacio en pixeles de un elemento a otro*/

    list-style: none;
}

.link_sub-navbar{
    color: #D3D3D3;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.link_sub-navbar:hover{ /* -hover- hace que al pasar el maus cambie el estilo o funcion de un elemento*/
    transition: color 0.3s ease;
    color: #A4161A;
    font-weight: bold;
}

/* --Barra principal-- */

.main_navbar{
    background-color: #FFFFFF;
    padding: 20px 40px 20px 0;
    width: 100%;
}

.ul_main-navbar{
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 100%;
    list-style: none;
}

.link_main-navbar{
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    color: #161A1D;
    transition: color 250ms ease-out;
    transition: background-color 250ms ease-out; /*-ease- Agrega una transición suave */
}

.link_main-navbar:hover{
    padding: 5px;
    color: #F5F3F4;
    background-color: #660708;
}

/* --Iconos de navegacion-- */

.link_main-navbar_carrito{
    margin-left: 200px;
}

/* --Carrito de compras--*/

.car-shopping_main-navbar{
    display: none;
    margin-top: 3%;
    box-sizing: border-box;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0 0 0 10px #A4161A;
    border-color: #161A1D;
    width: 16%;
    height: 60%;

    text-align: center;
}

/* ---------- Pie de pagina ----------*/

.pie_pagina{
    background-color: #161A1D;
    height: 180px;
    padding: 5%;
    display: flex;
    gap: 26.5%;
}

/* .redes_sociales{

} */

.iconos_redes{
    position: absolute;
    width: 48px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 3px;
    transition: width 50ms ease-in;
}

.iconos_redes:hover{
    width: 52px;
}

.iconos_redes.facebook{
    margin-left: 65px;
}

.iconos_redes.google{
    margin-left: 130px;
}

.secciones_pagina{
    margin-left: 15%;
}

.link_pie{
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    transition: color 80ms;
}

.link_pie:hover{
    color: #660708;
}

.derechos_reservados{
    position: absolute;
    margin-top: 13%;
    margin-left: 35%;
    color: #FFFFFF;
}