/* ------------------ VENTANA CARRITO ------------------ */
.ventana-carrito {
    /* Estilos */
    background-color: #c0392b;
    border-radius: 15px 0 0 15px;

    /* Posicion Fija */
    position: fixed;
    /* Cambia a fixed */
    right: -300px;

    /* Tamaño y proporciones */
    width: 300px;
    height: 85%;
    align-items: center;
    box-shadow: 0 0 3px black;
    transition: right 150ms linear;
    z-index: 20;
}

.mostrar-ventana-carrito {
    right: 0;
}

.ocultar-ventana-carrito {
    right: -300px;
}

/* ------ SECCION 1 ------ */

.ventana-carrito .division-1 {
    position: relative;
}

.ventana-carrito .division-1 .cerrar button {
    position: absolute;
    margin-top: 30px;
    left: 10px;
    top: -30px;
    background: none;
    border: none;
    transform: rotate(180deg);
}





.ventana-carrito .division-1 .cerrar li {
    list-style: none;
}

.ventana-carrito .division-1 .cerrar img {
    width: 36px;
    background-color: #2c3e50;
    padding: 5px;
    border-radius: 20px;
}

/* ------ SECCION 2 ------ */

/* --- division 2 --- */
.ventana-carrito .division-2 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid 2px black;
}

/* --- division 3 --- */

.ventana-carrito .division-3 {
    height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
}

.ventana-carrito .division-3 .secciones {
    padding: 10px 0;
}

.ventana-carrito .division-3 .contenido {
    margin-top: 20px;
    background-color: #f39c12;
    width: 85%;
    margin: auto;
    border-radius: 10px;
    padding-top: 10px;
    border-bottom: solid 2px black;
}

.ventana-carrito .division-3 img {
    height: 64px;
    width: 128px;
    border: solid 2px black;
    border-radius: 10px;
    object-fit: cover;
}

.ventana-carrito .division-3 p {
    border-bottom: solid 1px rgb(24, 24, 24);
    color: #2c3e50;
    margin: 10px 0;
}

/* --- division 4 --- */

.ventana-carrito .division-4 {
    padding-top: 20px;
    border-top: solid 2px black;
}

.ventana-carrito .division-4 p {
    margin: auto;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    width: 200px;
}

.ventana-carrito .division-4 a {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.ventana-carrito .division-4 a button {
    background-color: #f0932b;
    width: 150px;
}

.ventana-carrito .division-4 a button:hover {
    background-color: #fd8b08;
}