body {
    margin-top: 50px;
}

#botonCerrarDashboard {
    position: fixed;
    top: 160px;
    left: -20px;
    background: none;
    border: none;
    width: 36px;
    background-color: #2c3e50;
    padding: 5px;
    padding-left: 60px;
    border-radius: 20px;
    transition: left 150ms linear;
    display: flex;
    justify-content: end;
}


#iconoBoton {
    transform: rotate(180deg);
    transition: transform 150ms linear;
}


/* ------------------ MENU LATERAL ------------------ */
.menu-lateral {
    /* Estilos */
    background-color: #c0392b;
    border-radius: 0 15px 15px 0;

    /* Posicion Fija */
    position: fixed;
    /* Cambia a fixed */
    top: 0;
    left: -280px;

    /* Tamaño y proporciones */
    width: 280px;
    height: 100%;
    align-items: center;
    box-shadow: 0 0 3px black;
    z-index: 3;
    transition: left 150ms linear;
}

.mostrar-ventana-dashboard {
    left: 0;
}

/* ------ SECCION 1 ------ */

.menu-lateral .division-1 button {
    display: flex;
    align-items: center;
    gap: 30px;

    /* Margenes y relleno */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;

    /* Estilos */
    background: none;
    border: none;
    border-radius: 15px;

    /* Transiciones */
    transition: background 150ms ease-in;
}

.menu-lateral .division-1 button:hover {
    background: #e74c3c;
    border-radius: 15px;
}

.menu-lateral .division-1 button p {
    color: white;
    margin: auto;
}

.menu-lateral .division-1 {
    display: flex;
    align-items: center;
    height: 90%;
}

.menu-lateral .division-1 li {
    list-style: none;
    color: white;
}

.menu-lateral .division-1 img {
    background-color: #2c3e50;
    padding: 5px;
    border-radius: 5px;
}

.menu-lateral .division-1 a {
    text-decoration: none;
    color: white;
}

/* ------------------ MENU ARRIBA ------------------ */
.menu-principal {
    /* Estilos */
    background-color: #2c3e50;

    /* Posicion */
    position: fixed;
    top: 0;

    /* Tamaño y proporciones */
    width: 100%;
    height: 50px;
    align-items: center;
    padding-right: 50px;
    z-index: 2;
}

.menu-principal .division-1 {
    position: relative;
}

.menu-principal .division-1 ul {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    padding-right: 20px;
    gap: 10px;
}

.menu-principal .division-1 .lista-menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu-principal .division-1 #ventanaNotificacion {
    position: fixed;
    margin: auto;
    top: 60px;
    width: 150px;
    height: 100px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.menu-principal .division-1 #ventanaUsuario {
    position: fixed;
    margin: auto;
    top: 60px;
    width: 150px;
    height: 100px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.menu-principal .division-1 .lista-menu .ventana-notificacion li,
a {
    list-style: none;
    text-decoration: none;
    color: #e74c3c;
}

.menu-principal .division-1 button {
    background: none;
    border: none;
}

.menu-principal .division-1 img {
    width: 26px;
}

/* ------------------ DASHBOARD ------------------ */

.dashboard .encabezado {
    text-align: center;
    background-color: #f5f6fa;
    padding: 10px;
}

.dashboard .seccion-1 {
    background-color: #82ccdd;
}