{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/carrito_compras/ventana_carrito.css' %}">
{% endblock %}

{% block content %}
<div class="ventana-carrito">
    <div class="division-1">
        <div class="cerrar">
            <ul>
                <li>
                    <button>
                        <img src="https://firebasestorage.googleapis.com/v0/b/foodpartner-717d3.appspot.com/o/iconos%2Ficonos-carrito%2Fchevron-left.svg?alt=media&token=8347cebd-54b2-4398-a359-e917f6bd9cc8"
                            alt="Flecha izquierda">
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="division-2">
        <h3>Carrito</h3>
        <div class="contenido">
            <ul>
                <li>
                    <p>contenido</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="division-3">
        <p>Precio total: --total--</p>
    </div>
</div>
{% endblock %}