*{
    font-family:sans-serif;
}

.section-1{
    background-color: #E5383B;
}

.title_section{
    padding: 20px 0;
    color: #FFFFFF;
    font-size: 35px;
    text-align: center;
}


.platos_section-1{
    padding: 20px 0;
    background-color: #D3D3D3;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.subtitle_platos_section-1{
    border-radius: 5px 5px 0 0;
    background-color: #E5383B;
    margin: 5% 0 0 0;
    font-size: 25px;
    text-align: center;
}

.paragraph_section-1{
    font-size: 18px;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    background-color: #FFFFFF;
    width: 400px;
}

.img_section-1{
    border-radius: 5px;
    width: 400px;
}

.section-2{
    margin-top: 40px;
    background-color: #E5383B;
}

