{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css\usuarios\login.css' %}">
{% endblock %}

{% block title %}
    Iniciar Sesion Administrador
{% endblock %}

{% block content %}
    <div class="content main">
        <h2>Iniciar sesion</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="bttn content-main" type="submit">Entrar</button>
        </form>
    </div>
{% endblock %}