{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css\dashboard\productos\agregar_productos.css' %}">
{% endblock %}

{% block title %}
Agregar producto
{% endblock %}

{% block content %}

{% include 'dashboard.html' %}

<div class="seccion-1">
    <div class="contenido row justify-content-center">
        <form class="formulario col-12" method="POST" enctype="multipart/form-data">
            {% csrf_token %} <!--Esto se usa para darle seguridad al crear a los productos-->
            {{ form.as_p }} <!-- Renderiza todos los campos del formulario como párrafos -->
            <button class="bttn" type="submit">Agregar Producto</button>
        </form>
    </div>
</div>
</div>
{% endblock %}