{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/principal/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/productos/productos.css' %}" />
{% endblock %}

{% block title %} Productos {% endblock %}

{% block content %}

{% include 'dashboard.html' %}

<div class="encabezado">
    <h2 class="fw-bold display-4">Productos</h2>
</div>
<div class="seccion-1">
    <div class="fondo container-fluid p-sm-2 p-md-3 p-lg-4 p-xl-5">
        <div class="row d-flex justify-content-center">
            {% for producto in productos %}
            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="productos">
                    <img src="{{ producto.imagen_url }}" alt="{{ producto1.nombre }}">
                    <div class="contenido">
                        <h3 class="fs-5 fs-md-6 fw-bold">{{ producto.nombre }}</h3>
                        <p class="descripcion">{{ producto.descripcion }}</p>
                        <p class="precio"> Precio: {{ producto.precio_formateado }}</p>
                        <div class="botones">
                            <button class="bttn modify"
                                onclick="mostrarFormulario('{{ producto.id }}')">Modificar</button>
                            <button form="formulario-eliminacion" type="submit" class="bttn delete"
                                onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">
                                Eliminar
                            </button>
                            <form id="formulario-eliminacion" method="POST"
                                action="{% url 'eliminar_producto' producto.id %}">
                                {% csrf_token %} <!--Esto se usa para darle seguridad al eliminar a los productos-->
                                {{ form.as_p }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}