{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contacto/contacto.css' %}">
{% endblock %}

{% block title %}
    Contactenos
{% endblock %}

{% block content %}
    <div class="content main">
        <section>
            <div class="formulario">
                <form method="POST" action="{% url "crear_contacto" %}">
                    <h2>Contacta con nosotros</h2>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="bttn" type="submit">Enviar</button>
                </form>
            </div>
        </section>
    </div>
{% endblock %}
