/* --------- Seccion 1 --------- */

.encabezado h2 {
    text-align: center;
    background-color: #dcdde1;
    padding: 10px;
}

/* --------- contentido seccion --------- 2 */

.fondo {
    background-color: #3d0d0d;
    background-repeat: no-repeat;
    background-size: cover;
}

.seccion-1.productos {
    box-shadow: 0 0 10px;
    border-radius: 15px 15px 10px 10px;
}

.seccion-1 .productos img {
    /* Ajustes */
    box-sizing: border-box;
    object-fit: cover;
    /* Estilos */
    border-radius: 15px 15px 0 0;
    /* Tamaño */
    width: 100%;
    height: 200px;
}

/* -- contenido de los productos -- */

.seccion-1 .productos .contenido {
    /* Ajustes */
    box-sizing: border-box;
    /* Estilos */
    border-top: solid 5px #3d0d0d;
    border-radius: 0 0 10px 10px;
    background-color: #e9d8a6;
    /* Tamaño */
    width: 100%;
    /* margenes y relleno */
    padding: 20px;
}

.seccion-1 .productos .contenido h3 {
    height: 10px;
    margin-bottom: 30px;
}

.seccion-1 .productos .contenido .descripcion {
    height: 65px;
}

.seccion-1 .productos .contenido .precio {
    font-weight: bold;
}

/* --------- Botones --------- */

.seccion-1 .productos .contenido .botones {
    display: flex;
    justify-content: center;
    background-color: white;
}

/* ---- Boton modificacion de productos ---- */

.bttn.modify {
    background-color: #8d99ae;
    font-weight: 600;
    border-style: none;
    border: solid #2b2d42;
}

.bttn.modify:hover {
    background-color: #ced4da;
    color: #2b2d42;
}

.bttn.modify:active {
    background-color: #edf2f4;
    color: #2b2d42;
}

/* ---- Boton eliminacion de productos ---- */

.bttn.delete {
    background-color: #a4161a;
    font-weight: 600;
    border-style: none;
    border: solid #660708;
}

.bttn.delete:hover {
    background-color: #ba181b;
    color: #2b2d42;
}

.bttn.delete:active {
    background-color: #e5383b;
    color: #2b2d42;
}

/* --------- AGREGAR PRODUCTOS ----------- */

.bttn {
    background-color: rgb(185, 141, 27);
    border-color: rgb(155, 118, 26);
    padding: 6px;
    margin: 2% 0 0 8%;
}

.bttn:hover {
    background-color: rgb(238, 188, 63);
}

/* --- Formulario de edicion --Pendiente-- --- */

/* .form.modify {
    display: none;
    background-color: #ba181b;
} */