body {
    background-size: cover;
    background-position: center;
    background-color: #a4161b;
}

.section-1 {
    display: flex;
    justify-content: center;
}

/* ------------ Información Contacto ------------ */

.content-contact {
    padding: 50px;
    border-radius: 5px;
    width: 850px;
    background-color: white;
    border: solid black 2px;
}

.content-contact h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.detail-item {
    width: 45%;
    margin-bottom: 20px;
}

.detail-item h3 {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 10px;
}

.detail-item p {
    font-size: 1rem;
    color: #666;
}

.detail-item a {
    color: #007bff;
    text-decoration: none;
}

.detail-item a:hover {
    text-decoration: underline;
}

/* ------------ Formulario Contacto ------------ */

.content-form {
    padding: 50px;
    border-radius: 5px;
    width: 450px;
    background-color: white;
    border: solid black 2px;
}

.formulario h2 {
    text-align: center;
    margin-bottom: 15px;
}

.formulario fieldset {
    border-style: none;
    background-color: brown;
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px 20px;
    display: flex;
}

.formulario h4 {
    font-size: 16px;
}

.formulario input {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid #a4161b85;
    border-radius: 5px;
    font-size: 10px;
}

.formulario textarea {
    padding: 10px;
    border-style: none;
    border: 2px solid #a4161b85;
    border-radius: 4px;
    width: 100%;
    height: 80px;
    resize: none;

}

.area_texto {
    text-align: center;
}

.bttn {
    margin-top: 30px;
}