{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/gestion_acceso/gestion_acceso.css' %}">
{% endblock %}

{% block title %}
    Registrar Empleados
{% endblock %}

{% block content %}

{% include "dashboard.html" %}

<div class="content main">
    <h2>Empleados</h2>
    {% for empleado in lista_empleados %}
        <div class="col-sm-6 col-md-6 col-lg-6 my-6">
            <div class="contenido-empleados">
                <img src="{{ empleado.imagen }}" alt="{{ empleado.nombre }}">
                <div class="contenido">
                    <h3 class="fs-5 fs-md-6 fw-bold">{{ empleado.nombre }} {{ empleado.apellido }}</h3>
                    <p class="correo">{{ empleado.correo }}</p>
                    <p class="cargo"> Cargo: {{ empleado.cargo }}</p>
                    <form method="post" action="">
                        {% csrf_token %}
                        <button class="bttn delete" type="submit"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar al empleado?');">
                            Eliminar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="registro_empleados" style="display: none;">
        <form method="post" action="{% url "registro_empleados" %}">
            <h2>Registro de empleados</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="bttn content-main" type="submit">Registrar Nuevo Empleado</button>
        </form>
    </div>
</div>
{% endblock %}